
#headerNav {
    top: 15%;
}

#HomeSection  {
}

#ContactSection {
  background-color:#000000;
  color:#557f97;
  margin-top:2rem;
  margin-bottom:2rem; 
  padding-top:2rem;
  padding-bottom:2rem;
}
  

.socialImages {
  width:50px;
}


/*Tab Bar Boilerplate*/

#tab-container {
}

.tab {
}

